.navbar-desktop-logo-name {
    position: relative;
    line-height: 120%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    flex-shrink: 0;
}
.navbar-desktop-logo {
    position: relative;
    height: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
a{
    text-decoration: none;
}
a .navbar-desktop-menu-item {
    color: var(--foundation-white-white-200);
    position: relative;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-desktop-menu {
    position: relative;
    height: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    color: var(--color-gray);
}
.navbar-desktop {
    background-color:var(--foundation-blue-blue-500);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    box-sizing: border-box;
    width: 80%;
    height: 4rem;
    overflow: hidden;
    text-align: center;
    font-size: 1.50rem;
    color: var(--foundation-white-white-200);
    font-family: var(--font-poppins);
}

.navbar-desktop-container{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    background-color:var(--foundation-blue-blue-500);
}


@media (min-width: 1024px) {
    .navbar-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-desktop-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
