.about-image-icon {
    position: relative;
    width: 16.5rem;
    height: 16.5rem;
    overflow: hidden;
    flex-shrink: 0;
}
.about-image-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (min-width: 744px) {
    .about-image-icon {
        position: relative;
        width: 60%;
        height: 100%;
        overflow: hidden;
        flex-shrink: 0;
    }

}

@media (min-width: 1024px) {
    .about-image-icon {
        width: 80%;
    }
    .about-image-container {
        width: 50%;
    }
}