.container-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.social-media {
    position: relative;
    width: 100%;
    height: 2.26rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



@media (min-width: 744px) {

    .container-icon {
        align-self: stretch;
        flex: 1;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
    }
    .social-media {
        position: relative;
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


}

