.services {
    position: relative;
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    font-size: 1.25rem;
    color: var(--foundation-black-black-500);
    font-family: var(--font-poppins);
}

@media (min-width: 744px) {
    .services {
        width: 50%;
        font-size: 1.50rem;
    }
}


