a .menu-item-name:hover{
    color: var(--foundation-blue-blue-600);
    text-decoration: none;
}

a .menu-item-name {
    color: var(--foundation-white-white-200);
    text-decoration: none;
}
.menu-item-name {
    position: absolute;
    top: 0rem;
    left: 0rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3.33rem;
}
.menu-item:hover{
    background-color: var(--foundation-white-white-200);
    color: var(--foundation-blue-blue-600);
}

.menu-item {
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--foundation-blue-blue-600);
    width: 20rem;
    height: 3rem;
}
.menu {
    position: relative;
    background-color: var(--foundation-blue-blue-600);
    width: 100%;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    box-sizing: border-box;
    gap: 1rem;
    text-align: center;
    font-size: 1.67rem;
    color: var(--foundation-white-white-200);
    font-family: var(--font-poppins);
}

